*.npy
/*.pickle
/*/__pycache__/*
/__pycache__/*
*.lprof
3d_vertex.egg-info/*
*.pdf
*.png
*.pyc

.vscode/launch.json
/data/*
/.cache/*
*/__pycache__/*
/*/*/__pycache__/*
*.svg
*.prof
*.cache*
/README.md.backup
