*.npy
/*.pickle
/*/__pycache__/*
/__pycache__/*
*.lprof
3d_vertex.egg-info/*

.vscode/launch.json
/data/*
*/__pycache__/*
*/__pycache__/*
/*/*/__pycache__/*
/*.png
/*.pdf
/.cache/*
*.pyc
*.svg
*.prof
